<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="DIT(Doshisha Institute of Technology)">
  <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">
  <title>{{title}} | DIT Text</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='codehilite.min.css') }}">
  <style>
    .container img {
      max-width: 100%;
      height: auto;
    }
  </style>
</head>
<body>
<div class="container">
  {{ body|safe }}
</div>
<script src="//cdn.jsdelivr.net/jquery/2.1.4/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>